{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ user.username }}'s vault</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>

<div id="tabs">
    <ul>
        <li class="li-left">
            <a href="{% url 'home' %}">Home</a>
        </li>
        <li class="li-left">
            <a href="{% url 'photos' %}">Photos</a>
        </li>
        <li class="li-right">
            <a href="{% url 'logout' %}">Logout</a>
        </li>
        <li class="li-right">
            <a href="{% url 'profile' %}">Profile</a>
        </li>
    </ul>
</div>

{% block content %}
{% endblock content %}

</body>
</html>