{% extends './base.html' %}
{% load static %}

{% block content %}

<h2>Login:</h2>
<form method="post" id="login_form">
    {% csrf_token %}
    <table class="login">
    {% for field in form %}
        <tr><td>{{ field.label_tag }}</td><td>{{ field }}</td></tr>
    {% endfor %}
    </table>
</form>
<form method="get" id="go_to_signup_form" action="/signup"></form>
<br>
<button type="submit" form="login_form">Login</button>
<button type="submit" form="go_to_signup_form">Sign up</button>

{% endblock content %}