{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vault</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>

<h1 class="title">Personal cloud server</h1>

<h2>Login:</h2>
<form method="post" id="login_form">
    {% csrf_token %}
    <table class="login">
    {% for field in form %}
        <tr><td>{{ field.label_tag }}</td><td>{{ field }}</td></tr>
    {% endfor %}
    </table>
</form>
<form method="get" id="go_to_signup_form" action="/signup"></form>
<br>
<button type="submit" form="login_form">Login</button>
<button type="submit" form="go_to_signup_form">Sign up</button>

</body>
</html>