body {
    text-align: center;
    background-color:DarkSlateGrey;
    margin: 20px;
    color: #E0E0E0;
    text-shadow:
       1px 1px 0 #000,
       -1px -1px 0 #000,
       1px -1px 0 #000,
       -1px 1px 0 #000,
       1px 1px 0 #000;
}

.title {
    padding: 20px;
    color: #E0E0E0;
}

.login{
    border: 2px solid;
    margin: auto;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    border-spacing: 5px;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
}

a {
    color: #E0E0E0;
}

.error {
    font-size: 18px;
    color: red;
}

#tabs ul {
    list-style-type: none;
    text-align:center;
    border: 1px solid #555;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: block;
    font-size: 20px;
}

.li-left {
    float: left;
	border-right: 1px solid #bbb;
}

.li-right {
    float: right;
	border-left: 1px solid #bbb;
}

#tabs li:hover {
    background-color: gray;
}

#tabs li a {
    display: block;
    color: #E0E0E0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.photos {
    margin: auto;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-spacing: 5px;
}

.profile {
    font-size: 25px;
    font-weight: bold;
    padding: 20px;
    text-align: left;
}

.message {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.photo{
    border: 2px solid;
    margin-left: 700px;
    margin-right: 700px;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-spacing: 10px;
    height: auto;
    word-break: break-all;
}